<!DOCTYPE html>
<html>
<head>
	<title>Bugs</title>
</head>
<body >
	<div style="float:left;width:70%;display:inline-block">
		<table>
			<thead>
			<tr >
				<th style="border:solid 1px black">Serial</th>
				<th style="border:solid 1px black">Type</th>
				<th style="border:solid 1px black">Context</th>
				<th style="border:solid 1px black">Title</th>	
				<th style="border:solid 1px black">Description</th>
				<th style="border:solid 1px black">Added</th>
				<th style="border:solid 1px black">Updated</th>
				<th style="border:solid 1px black">Actions</th>
			</tr>
			</thead>
			{% for b in bugs %}
			<tr style="{% if b.status==='resolved' %}background:#ddd;color:#888;{% endif%}">
				<td style="border:solid 1px black">{{ loop.index }}</td>
				<td style="border:solid 1px black">{{ b.type }}</td>
				<td style="border:solid 1px black">{{ b.context }}</td>
				<td style="border:solid 1px black">{{ b.title }}</td>
				<td style="border:solid 1px black">{{ b.description }}</td>
				<td style="border:solid 1px black">{{ b.createdAt|date('d-m-y H:i:s') }}</td>
				<td style="border:solid 1px black">{{ b.updatedAt|date('d-m-y H:i:s') }}</td>
				<td style="border:solid 1px black">
					{% if b.status !== 'unresolved' %}
						<a href="/{{ application }}/bug/reopen/{{ b.id }}">Reopen</a>
					{% endif %}
					{% if b.status !== 'resolved' %}
						<a href="/{{ application }}/bug/resolve/{{ b.id }}">Resolve</a>
						<a href="#" onclick="edit(this, '{{ b.id }}')">Edit</a>
					{% endif %}
					{% if b.status !== 'removed' %}
						<a href="/{{ application }}/bug/remove/{{ b.id }}">Remove</a>
					{% endif %}
				</td>
			</tr>
			{% endfor %}
		</table>
		<div style="">
		<a href="/{{ application }}/{{ page-1 || 1 }}">Previous</a> | 
		<a href="/{{ application }}/{{ 1+page }}">Next</a>
		</div>
	</div>
	<div style="width:29%;display:inline-block">
		<h3>Filters</h3>
		<form action="/scoobla">
			<table>
				<tr>
					<td><label>Status</label></td>
					<td><label>Type</label></td>
				</tr>
				<tr>
					<td>
						<select multiple name="status">
							<option value="">All</option>
							<option value="unresolved">Open</option>
							<option value="resolved">Resolved</option>
							<option value="removed">Removed</option>
						</select>
					</td>
					<td>
						<select multiple name="type">
							<option value="">All</option>
							<option value="FEATURE">Feature</option>
							<option value="BUG">Bug</option>
							<option value="ENHANCEMENT">Enhancement</option>
						</select>
					</td>

				</tr>
				<tr>
					<td><label>Context</label></td>
					<td><input type="text" name="context"></td>
				</tr>
				<tr>
					<td><label>Title</label></td>
					<td><input type="text" name="title"></td>
				</tr>
				<tr>
					<td><label>Description</label></td>
					<td><textarea name="description"></textarea></td>
				</tr>
			</table>
			<input type="submit" value="Filter">
		</form>
		<h3>Create</h3>
		<form action="/{{ application }}/bug/create" method="post">
			<table>
				<tr>
					<td><label>Type</label></td>
					<td>
						<select name="type">
							<option value="FEATURE">Feature</option>
							<option value="BUG">Bug</option>
							<option value="ENHANCEMENT">Enhancement</option>
						</select>
					</td>
				</tr>
				<tr>
					<td><label>Context</label></td>
					<td><input type="text" name="context"></td>
				</tr>
				<tr>
					<td><label>Title</label></td>
					<td><input type="text" name="title"></td>
				</tr>
				<tr>
					<td><label>Description</label></td>
					<td><textarea name="description"></textarea></td>
				</tr>
			</table>
			<input type="submit" value="Create">
		</form>
		<h3>Update</h3>
		<form action="/{{ application }}/bug/update" id="editForm" method="post">
			<input type="hidden" name="id" value="">
			<table>
				<tr>
					<td><label>Type</label></td>
					<td>
						<select name="type">
							<option value="FEATURE">Feature</option>
							<option value="BUG">Bug</option>
							<option value="ENHANCEMENT">Enhancement</option>
						</select>
					</td>
				</tr>
				<tr>
					<td><label>Context</label></td>
					<td><input type="text" name="context"></td>
				</tr>
				<tr>
					<td><label>Title</label></td>
					<td><input type="text" name="title"></td>
				</tr>
				<tr>
					<td><label>Description</label></td>
					<td><textarea name="description"></textarea></td>
				</tr>
			</table>
			<input type="submit" value="Save">
		</form>
	</div>
	<script type="text/javascript">
	function edit(thisArg, id){
		var form = document.getElementById('editForm');
		var gP = thisArg.parentNode.parentNode;
		form['id'].value = id;
		form['title'].value = gP.children[3].textContent;
		form['description'].value = gP.children[4].textContent;
		form['context'].value = gP.children[2].textContent;
		form['type'].value = gP.children[1].textContent;
	}
	</script>
</body>
</html>